doctype
html
    head
        base(href="/")
        link(href="/favicon.ico", rel="shotcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    body(ng-app='app')
        block main-content
        include scripts